<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="albumpage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/script.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" aria-label="">
        <div class="container-fluid col-xxl-8 px-4">
          <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/icon.png" alt="WeatherzIcon" width="50" height="50" class="d-inline-block align-text-top m-2">
            Weatherz
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse justify-content-md-end" id="navbarsExample08">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="btn btn-primary px-3 mx-lg-3" aria-current="page" href="/album">Il tuo Album</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
              <ul class="dropdown-menu dropdown-menu-light gap-1 p-2 rounded-3 mx-0 border-0 shadow" aria-labelledby="dropdown08">
                <li><div class="dropdown-item rounded-2" id="emailText"><%= email %></div></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item rounded-2" href="/logout">Esci</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
        <section class="text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Aggiungi la tua città.</h1>
                    <p class="lead text-muted">Inserisci la città che vuoi aggiungere al tuo album.<br>
                      Una volta aggiunta potrai consultare il tuo album per controllarne il meteo e altre informazioni.
                    </p>
                    <p>
                      <form class="form-floating">
                        <input type="text" class="form-control" id="floatingInputValue">
                        <label for="floatingInputValue">Inserisci qui</label>
                        <button type="button" class="btn btn-primary btn-lg my-3" onclick="sendAJAX()" id="cityButton">Aggiungi</button>
                        <div style="display: none;"class="alert alert-info my-3" role="alert" id="infoAlert"></div>
                      </form>
                    </p>
                </div>
            </div>
        </section>
        <div class="album bg-light py-5">
            <div class="container ">
                <div id="albumCont" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <% for(var i=0; i < cities.length; i++) { %>
                    <div class="col">
                        <div class="card shadow" >
                            <img src="data:image/jpeg;base64,<%= photos[i] %>" class="card-img-top" style="max-height: 300px;" alt="<%= cities[i].city.toLowerCase() %>">
                            <div class="card-body">
                                <h5 class="card-title"><%= cities[i].city.toLowerCase() %></h5>
                                <p class="card-text"><%= info[i].weather[0].description%></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                      <a type="button" class="btn btn-sm btn-outline-secondary shadow-none" href="/album/<%= cities[i].city.toLowerCase() %>">Informazioni</a>
                                      <a type="button" class="btn btn-sm btn-outline-danger" onclick="deleteCard(this)" id="<%= cities[i].city.toLowerCase() %>">Elimina</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js/bootstrap.min.js"></script>
<script src="popper.min.js"></script>
</html>